.Poll{
    width: 1000px;
    height: 250px;
    margin-left:25% ;
    margin-right: 25%;
    background-color: yellow;
    text-align: center;

    &-items{
        display: flex;
        margin: 2em;
    }
    &-item{
        margin: 2em;
    }
}